@import './fonts.scss';
@import './weather-icons.css';
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';

html {
  height: 100%;
}

.body {
  margin: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
