.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wi-cloudy-gusts:before {
  content: "\f011";
}
.wi-snow:before {
  content: "\f01b";
}
.wi-rain-mix:before {
  content: "\f017";
}
.wi-rain:before {
  content: "\f019";
}
.wi-night-alt-cloudy:before {
  content: "\f086";
}
.wi-fog:before {
  content: "\f014";
}
.wi-day-sunny:before {
  content: "\f00d";
}
.wi-night-clear:before {
  content: "\f02e";
}
.wi-cloud:before {
  content: "\f041";
}
.wi-day-cloudy:before {
  content: "\f002";
}
